textarea.bp3-input {
	height: 40px;
	margin-bottom: 20px;
}

.teamDashboard {
	width: 40%;
	margin: 24px 24px 24px 0;
	padding: 12px;
	overflow: none;
}
.teamDashboard-header {
	display: flex;
	justify-content: center;
	padding: 12px;
}

.bp3-card .singleUserContainer {
	margin: 0.5rem;
}

.teamCard h4 {
	/* padding: 5px 5%; */
	margin: 0 auto;
}

.profilePic {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.ReportsOnDash {
	width: 75%;
}

@media (max-width: 800px) {
	.ReportsOnDash {
		width: 100%;
	}
}

.inviteUserBox h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0 10px 0;
	text-align: center;
}

.inviteUser {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.onboarding {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.usersContainer {
	width: 100%;
	display: block;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}
.usersContainer .singleUserContainer {
	max-width: 100%;
	width: 95%;
	padding: 10px;
	margin: 20px auto;
	border-bottom: 1px solid lightgray;
	/* text-align: center; */
}

@media (max-width: 800px) {
	.usersContainer .singleUserContainer {
		max-width: 80%;
	}
}

.usersContainer .singleUserContainer img {
	display: block;
	margin: 10px;
	width: 32px;
	height: 32px;
}

.usersContainer .singleUserContainer h4 {
	margin: 10px;
	font-size: 14px;
	line-height: 1.2;
	padding-top: 8px;
	text-align: center;
}

.single-user-card {
	display: flex;
}

.single-user-content {
	display: flex;
	max-width: 80%;
	width: 100%;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.single-user-menu {
	max-width: 20%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.errorCard-content {
	margin: 24px;
}

.email-success {
	display: flex;
	justify-content: space-between;
	align-content: baseline;
}

.email-failure {
	display: flex;
	justify-content: space-between;
	align-content: baseline;
}

.deactivate {
	text-align: center;
}

.loading-spinner {
	margin: auto auto;
}

#display-button {
	display: none;
}
