/* .navigation {
	display: flex;
	justify-content: center;
	width: 100%;
} */
.bp3-navbar {
	background-color: #616df6;
}
.bp3-navbar .bp3-navbar-heading {
	color: white;
}
.bp3-navbar .bp3-button-text {
	color: white;
}
.bp3-navbar .bp3-icon {
	color: white;
}


/*  
.navigation .bp3-button {
	fill: true;
}  */

@media (min-width: 550px) {
	.narrow-nav {
		display: none
	}
}

@media (max-width: 550px) {
	.wide-nav {
		display: none
	}
}