.userCard {
	max-height: 100%;
}

.userCard img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.profileCard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userCard input {
	border-radius: 3px;
}
.userCard div h3 {
	font-size: 40px;
	margin: 40px auto;
	text-align: center;
}
.userForm {
	display: block;
}
.accountForms {
	width: 100%;
	/* margin-top: 50px; */
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}

.userCard {
	/* background-color: #f1f1f2; */
	color: #325d92;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.userCard .bp3-button {
	background-color: #fafafad2;
}

/* .userCard img {
	align-self: flex-end;
} */

.join-code {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.MuiFormControl-root-1 {
	display: block;
}
