.userCard {
	max-width: 800px;
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.userCard-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 24px;
}

.userCard img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.top-user-card {
	margin: 24px;
}

.profileCard-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 24px;
}

.userCard input {
	border-radius: 3px;
}
.userCard div h3 {
	font-size: 40px;
	margin: 40px auto;
	text-align: center;
}
.userForm {
	display: block;
}
.accountForms {
	width: 100%;
	margin: 24px;
}

.email-field {
	max-width: 400px;
	width: 100%;
}

.userCard .bp3-button {
	background-color: #fafafad2;
}

/* .userCard img {
	align-self: flex-end;
} */

.join-code {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.edit-user-toggle {
	margin: 10px;
}

#edit-user-button {
	display: block;
}

#edit-user-content {
	display: block;
}
